@model MadamRozikaGlobal.Dtos.ViewDtos.MainContentDto
@{
    ViewBag.Title = "Madam Rozika Anasayfa";
}

<ul class="slider">
    <li class="slide">
        <img src="/Public/img/slider/image_01.jpg" alt="img">
        <div class="slider_content_box">
            <ul class="post_details simple">
                <li class="category">
                    <a href="category_health.html" title="HEALTH">HEALTH</a>
                </li>
                <li class="date">
                    10:11 PM, Feb 02
                </li>
            </ul>
            <h2>
                <a href="@Url.Action("Post", "Posts", new {nid= 0})" title="Nuclear Fusion Closer to Becoming a Reality">Nuclear Fusion Closer to Becoming a Reality</a>
            </h2>
            <p class="clearfix">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
        </div>
    </li>
    <li class="slide">
        <img src="/Public/img/slider/image_02.jpg" alt="img">
        <div class="slider_content_box">
            <ul class="post_details simple">
                <li class="category">
                    <a href="category_world.html" title="WORLD">WORLD</a>
                </li>
                <li class="date">
                    18:25 PM, Feb 21
                </li>
            </ul>
            <h2>
                <a href="@Url.Action("Post", "Posts", new {nid= 0})" title="Climate Change Debate While Britain Floods">Climate Change Debate While Britain Floods</a>
            </h2>
            <p class="clearfix">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
        </div>
    </li>
    <li class="slide">
        <img src="/Public/img/slider/image_03.jpg" alt="img">
        <div class="slider_content_box">
            <ul class="post_details simple">
                <li class="category">
                    <a href="category_health.html" title="HEALTH">HEALTH</a>
                </li>
                <li class="date">
                    10:11 PM, Feb 02
                </li>
            </ul>
            <h2>
                <a href="@Url.Action("Post", "Posts", 0)" title="The Public Health Crisis Hiding in Our Food">The Public Health Crisis Hiding in Our Food</a>
            </h2>
            <p class="clearfix">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
        </div>
    </li>
    <li class="slide">
        <img src="/Public/img/slider/image_01.jpg" alt="img">
        <div class="slider_content_box">
            <ul class="post_details simple">
                <li class="category">
                    <a href="category_world.html" title="WORLD">WORLD</a>
                </li>
                <li class="date">
                    18:25 PM, Feb 21
                </li>
            </ul>
            <h2>
                <a href="@Url.Action("Post", "Posts", 0)" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
            </h2>
            <p class="clearfix">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
        </div>
    </li>
    <li class="slide">
        <img src="/Public/img/slider/image_02.jpg" alt="img">
        <div class="slider_content_box">
            <ul class="post_details simple">
                <li class="category">
                    <a href="category_health.html" title="HEALTH">HEALTH</a>
                </li>
                <li class="date">
                    10:11 PM, Feb 02
                </li>
            </ul>
            <h2>
                <a href="@Url.Action("Post", "Posts", 0)" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a>
            </h2>
            <p class="clearfix">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
        </div>
    </li>
    <li class="slide">
        <img src="/Public/img/slider/image_03.jpg" alt="img">
        <div class="slider_content_box">
            <ul class="post_details simple">
                <li class="category">
                    <a href="category_health.html" title="HEALTH">HEALTH</a>
                </li>
                <li class="date">
                    10:11 PM, Feb 02
                </li>
            </ul>
            <h2>
                <a href="@Url.Action("Post", "Posts", 0)" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a>
            </h2>
            <p class="clearfix">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
        </div>
    </li>
</ul>
<div class="page">
    <div class="slider_posts_list_container">
    </div>
    <div class="page_layout page_margin_top clearfix">
        <div class="row">
            <div class="column column_2_3">

                @Html.Partial("_Latest", Model)


                <div class="row page_margin_top_section">
                    <h4 class="box_header">Posts Carousel</h4>
                    <div class="horizontal_carousel_container page_margin_top">
                        <ul class="blog horizontal_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">

                            <li class="post">
                                <a href="@Url.Action("Posts", "Post", 0)" title="New Painkiller Rekindles Addiction Concerns">
                                    <img src="/Public/img/samples/330x242/image_08.jpg" alt="img">
                                </a>
                                <h5>
                                    <a href="@Url.Action("Posts", "Posts", 0)" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a>
                                </h5>
                                <ul class="post_details simple">
                                    <li class="category">
                                        <a href="category_health.html" title="HEALTH">HEALTH</a>
                                    </li>
                                    <li class="date">
                                        10:11 PM, Feb 02
                                    </li>
                                </ul>
                            </li>
                            <li class="post">
                                <a href="post_soundcloud.html" title="High Altitudes May Aid Weight Control">
                                    <img src="/Public/img/samples/330x242/image_01.jpg" alt="img">
                                </a>
                                <h5>
                                    <a href="post_soundcloud.html" title="High Altitudes May Aid Weight Control">High Altitudes May Aid Weight Control</a>
                                </h5>
                                <ul class="post_details simple">
                                    <li class="category">
                                        <a href="category_health.html" title="HEALTH">HEALTH</a>
                                    </li>
                                    <li class="date">
                                        10:11 PM, Feb 02
                                    </li>
                                </ul>
                            </li>
                            <li class="post">
                                <a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">
                                    <span class="icon gallery"><!--<span class="info">999</span>--></span>
                                    <img src="/Public/img/samples/330x242/image_03.jpg" alt="img">
                                </a>
                                <h5>
                                    <a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
                                </h5>
                                <ul class="post_details simple">
                                    <li class="category">
                                        <a href="category_health.html" title="HEALTH">HEALTH</a>
                                    </li>
                                    <li class="date">
                                        10:11 PM, Feb 02
                                    </li>
                                </ul>
                            </li>
                            <li class="post first">
                                <a href="post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">
                                    <img src="/Public/img/samples/330x242/image_09.jpg" alt="img">
                                </a>
                                <h5>
                                    <a href="post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
                                </h5>
                                <ul class="post_details simple">
                                    <li class="category">
                                        <a href="category_health.html" title="HEALTH">HEALTH</a>
                                    </li>
                                    <li class="date">
                                        10:11 PM, Feb 02
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row page_margin_top_section">
                    @Html.Partial("_LatestFashion", Model)
                </div>

                <div class="row page_margin_top_section">
                    @Html.Partial("_TopPostsTabbed", Model)
                </div>
                <div class="row page_margin_top_section">
                    <div class="column column_1_2">
                        @Html.Partial("_Beauty", Model)

                    </div>
                    <div class="column column_1_2">
                        @Html.Partial("_Health", Model)
                    </div>
                </div>
            </div>
            <div class="column column_1_3">

                @Html.Partial("_Recommended", Model)

                @Html.Partial("_LatestVertical", Model)
                
                @Html.Partial("_LatestTabbed", Model)

                @Html.Partial("_TopAuthors", Model)

                @Html.Partial("_Science", Model)




            </div>
        </div>
    </div>
</div>