@model MadamRozikaGlobal.Dtos.ViewDtos.ContentBase

<h4 class="box_header page_margin_top_section">Most Commented</h4>

<div class="vertical_carousel_container clearfix">
    <ul class="blog small vertical_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">

        @{
            foreach (var most in Model.MostCommenteds)
            {
                <li class="post">
                    <a href="post_gallery.html" title="@most.Title">
                        <span class="icon small gallery"></span>
                        <img src='@most.ImageUrl' alt='img'>
                    </a>
                    <div class="post_content">
                        <h5>
                            <a href="post_gallery.html" title="@most.Title">@most.Title</a>
                        </h5>
                        <ul class="post_details simple">
                            <li class="category">
                                <a href="category_health.html" title="@most.Category">@most.Category</a>
                            </li>
                            <li class="date">
                                @DateTime.Now
                            </li>
                        </ul>
                    </div>
                </li>
            }
        }
    </ul>

</div>